body{
    --twitter-color: #f5509d;
    --twitter-background: #f0e6ee;
}
.App{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.icon-twitter{
    color: var(--twitter-color);
    font-size: 50px !important;
    margin-left: 20px;
    margin-right: 20px;
}
